<article>
  <h2>
    Edit Comment
  </h2>
  <form class="edit-comment-form">
    <div>
      <label class="form-label" for="comment_text">Content</label>
      <input name="comment_text" type="text" value="{{comment.comment_text}}"/>
    </div>
   
    <button id="saveBtn" data-post="{{comment.post_id}}" type="submit">Save comment</button>
  </form>
    <button id="deleteBtn" type="button" class="delete-comment-btn">Delete post</button>
</article>

<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>
